[submodule "bundle/sniptmate"]
	path = bundle/sniptmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = git://github.com/kana/vim-scratch.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/ReplaceWithRegister"]
	path = bundle/ReplaceWithRegister
	url = git://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "bundle/vim-mac-classic-theme"]
	path = bundle/vim-mac-classic-theme
	url = git://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = https://github.com/csexton/rvm.vim.git
